$backgroundColor : #aa9144;
$backgroundColor_lighter : rgba(210,175,98,0.6);
// $backgroundColor : rgba(170, 145, 68, 0.6);
$backgroundColor_darker : #ccb366;
// $backgroundColor_darker : rgba(140, 115, 38, 0.6);
$saddleBrown : rgba(170, 145, 68, 0.6);
$textColor : #000;
$succesMessageColor: rgb(34,139,34);
$succesMessageColor_hover: rgb(14,119,14);
$errorMessageColor: rgb(220,20,60);
$errorMessageColor_hover: rgb(200,0,40);
