<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB GAME</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/normalize.css">
    <!-- <style type="text/css">

  	</style> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>
  <picture>
    <source media="(min-width: 1500px)" srcset="assets/page/header_HD.png">
    <source media="(min-width: 1024px)" srcset="assets/page/header_1500.png">
    <source media="(min-width: 768px)" srcset="assets/page/header_1024.png">
    <img id="header_img" src="assets/page/header_768.png" alt="Flowers">
  </picture>
