<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB GAME</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/normalize.css">
    <style type="text/css">
  		body{
  				margin:0;
  				padding: 0;
  				overflow: hidden;
  				background-color: #888888;
          width:100%;
          height:100%;
  			}
  			/* canvas{
  			  position: absolute;
          z-index: 2;
  			}

        .attackInitializationIcons {
          object-fit: none;
          object-position: 0 0;
          cursor: pointer;
          width: 100px;
          height: 50px;
          z-index: 3;
        }

        .attackIcons {
          object-fit: none;
          object-position: 0 0;
          cursor: pointer;
          width: 64px;
          height: 64px;
          z-index: 3;
        }

        button{
          position:absolute;
          z-index: 4;
        }

        div {

          border: 1px solid green;
          margin: auto;
          left:25%;
          top:10%;
          position:fixed;
        } */
  	</style>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
