
  <%- include("./partials/header") %>
  <body>
    <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io(); //socket and Game our global objects
        var ide1 = <%= id1 %>;
        var ide2 = <%= id2 %>;

        //while loops in order to get rid of egde cases (for example:)
        //ide1 = 0000001
        //ide2 = 1111111
        //so ide1 + ide2 = 11111111 not 0000000111111111 so we must guard this value to be length = 12
        ide1 = ide1.toString(16);
        while(ide1.length<12){
          ide1 = "0" + ide1;
        }

        ide2 = ide2.toString(16);
        while(ide2.length<12){
          ide2 = "0" + ide2;
        }

        var playerID = ide1 + ide2;

      </script>
      <script src="scripts/game/phaser.min.js" type="text/javascript"></script>
      <script src="scripts/game/phaser-kinetic-scrolling-plugin.js" type="text/javascript"></script>

      <script src="scripts/game/helpers/utils.js" type="text/javascript"></script>

      <script src="scripts/game/states/GameState.js" type="text/javascript"></script>
      <script src="scripts/game/states/HomeState.js" type="text/javascript"></script>
      <script src="scripts/game/states/LoadState.js" type="text/javascript"></script>
      <script src="scripts/game/states/PreState.js" type="text/javascript"></script>



      <script src="scripts/game/specificSprites/button.js" type="text/javascript"></script>
      <script src="scripts/game/specificSprites/checkBox.js" type="text/javascript"></script>
      <script src="scripts/game/specificSprites/titledButton.js" type="text/javascript"></script>
      <script src="scripts/game/specificSprites/flexibleTitledButton.js" type="text/javascript"></script>

      <script src="scripts/game/entities/Player.js" type="text/javascript"></script>
      <script src="scripts/game/entities/OtherPlayer.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Enemy.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Fence.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Mob.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Trader.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Teleporter.js" type="text/javascript"></script>
      <script src="scripts/game/entities/Npc.js" type="text/javascript"></script>


      <script src="scripts/game/managers/fightWithOpponentManager/fightWithOpponentManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/glowingSwordsManager/glowingSwordsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/fightingStage/skills/skillsDescriptions.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/fightingStage/skills/skillsUIManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/fightingStage/skills/fightAnimationsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/fightingStage/fightingStageUIManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/fightingStage/winMenu/winUIManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/fightWithOpponentManager/preFightMenuManager/preFightMenu.js" type="text/javascript"></script>
      
      <script src="scripts/game/managers/deathManager.js" type="text/javascript"></script>
      <!-- uiManager -->
      <script src="scripts/game/managers/uiManager/uiManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/alertManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/entityDescriptionsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/expandedMenuManager/expandedMenuManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/UIFrameManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/statusPointsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/characterDataManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/settingsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/equipmentManager/equipmentManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/equipmentManager/itemDescription.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/equipmentManager/item.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/equipmentManager/itemMenu.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/equipmentManager/itemDiscardFrame.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/tradeManager/tradeManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/tradeManager/itemMenuTrade.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/missionsFrames/missionsListFrame.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/missionsFrames/missionDetailFrame.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/missionsFrames/missionRewardFrame.js" type="text/javascript"></script>
      <script src="scripts/game/managers/uiManager/frames/teleportManager/teleportManager.js" type="text/javascript"></script>
      <!-- Other managers -->
      <script src="scripts/game/managers/socketsManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/mapManager/mapManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/mapManager/preChangeMapMenu.js" type="text/javascript"></script>
      <script src="scripts/game/managers/playerMoveManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/missionManager/missionManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/missionManager/questionMarksManager.js" type="text/javascript"></script>
      <script src="scripts/game/managers/missionManager/dialogWindow.js" type="text/javascript"></script>

      <script src="scripts/game/game.js" type="text/javascript"></script>
      <script src="scripts/main.js" type="text/javascript"></script>

  </body>
</html>
