<%- include("./partials/header") %>


<div id="container">
  <div id="menu" class="grid-element">
    <button type="button" name="button">option 1</button>
    <button type="button" name="button">option 2</button>
    <button type="button" name="button">option 3</button>
    <button type="button" name="button">option 4</button>
  </div>
  <div id="infos" class="grid-element">
    <%var message = message || " Welcome to our page !" %>
    <%var logged = logged || false %>
    <%= message  %>
  </div>
  <div id="action" class="grid-element">
    <%if(logged){%>
      <a href="/game">dashboard<a>
      <a href="/logout">logout<a>
    <%}else {%>
      <a href="/login">Login page<a>
      <a href="/register">Registration page<a>
    <%}%>
  </div>
</div>

<%- include("./partials/footer") %>
