<%- include("./partials/header_new") %>

<!--
<div id="container">
  <div id="menu" class="grid-element">
  </div>
  <div id="infos" class="grid-element">
  </div>
  <div id="action" class="grid-element">
  </div>
</div> -->

<%- include("./partials/footer") %>
