<%- include("./partials/header") %>
<form action="/register" method="post">
  Email:<br>
  <input type="text" name="email"><br>
  Nick:<br>
  <input type="text" name="nick"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <button> sumbmit </button>
</form>
<%- include("./partials/footer") %>
